/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  display: none;
}

.customTextBG > span {
  background-color: #3498db;
  color: #FFF;
  box-shadow: -01px 0px 0 1px #3498db,
    11px 0px 0 1px #3498db,
    0 0 0 1px #3498db;
  box-decoration-break: clone;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: #3291e6;
  /*color: #128ec4;*/
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Raleway', sans-serif;
}

/* inner page section */
#main {
  font-size: 16px;
}
#main h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964;
}
#main h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964;
}
#main .container {
  position: relative;
}
#main .button {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
#main .btn-get-started {
  position: flex;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 35px;

  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#main .btn-get-started:hover {
  background: #3291e6;
}

/*--------------------------------------------------------------
# Hero Section hgv
--------------------------------------------------------------*/
#herohgv {
  width: 100%;
  height: 75vh;
  background: url('../img/HGV_LGV.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
 
  
}
#herohgv .container {
  position: relative;
  
}
#herohgv h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#herohgv h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#herohgv .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#herohgv .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #herohgv {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #herohgv {
    margin-bottom: 0;
    height: 100vh;
  }
  #herohgv .container {
    padding-bottom: 63px;
  }
  #herohgv h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herohgv h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 850px) {
  #herohgv {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section taxi
--------------------------------------------------------------*/
#herotaxi {
  width: 100%;
  height: 75vh;
  background: url('../img/taxi.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#herotaxi .container {
  position: relative;
}
#herotaxi h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#herotaxi h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#herotaxi .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#herotaxi .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #herotaxi {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #herotaxi {
    margin-bottom: 0;
    height: 100vh;
  }
  #herotaxi .container {
    padding-bottom: 63px;
  }
  #herotaxi h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herotaxi h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #herotaxi {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section Motorhome
--------------------------------------------------------------*/
#heromh {
  width: 100%;
  height: 75vh;
  background: url('../img/Motorhome.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#heromh .container {
  position: relative;
}
#heromh h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#heromh h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#heromh .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#heromh .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #heromh {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #heromh {
    margin-bottom: 0;
    height: 100vh;
  }
  #heromh .container {
    padding-bottom: 63px;
  }
  #heromh h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #heromh h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #heromh {
    height: 110vh;
  }
}
/*--------------------------------------------------------------
# Hero Section Motorsport
--------------------------------------------------------------*/
#heroms {
  width: 100%;
  height: 100vh;
  background: url('../img/motorsports.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#heroms .container {
  position: relative;
  
}
#heroms h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#heroms h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#heroms .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#heroms .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #heroms {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #heroms {
    margin-bottom: 0;
    height: 100vh;
  }
  #heroms .container {
    padding-bottom: 63px;
  }
  #heroms h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #heroms h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #heroms {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section Ambulance
--------------------------------------------------------------*/
#heroamb {
  width: 100%;
  height: 82vh;
  background: url('../img/ambulance.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#heroamb .container {
  position: relative;
  
}
#heroamb h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#heroamb h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#heroamb .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#heroamb .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #heroamb {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #heroamb {
    margin-bottom: 0;
    height: 100vh;
  }
  #heroamb .container {
    padding-bottom: 63px;
  }
  #heroamb h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #heroamb h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #heroamb {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section Crane
--------------------------------------------------------------*/
#herocrane {
  
  width: 100%;
  height: 78vh;
  background: url('../img/crane-operator.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#herocrane .container {
  position: relative;
}
#herocrane h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#herocrane h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#herocrane .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#herocrane .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #herocrane {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #herocrane {
    margin-bottom: 0;
    height: 100vh;
  }
  #herocrane .container {
    padding-bottom: 63px;
  }
  #herocrane h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herocrane h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #herocrane {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section Forklift
--------------------------------------------------------------*/
#herofork {
  width: 100%;
  height: 78vh;
  background: url('../img/forklift.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#herofork .container {
  position: relative;

}
#herofork h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#herofork h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#herofork .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#herofork .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #herofork {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #herofork {
    margin-bottom: 0;
    height: 100vh;
  }
  #herofork .container {
    padding-bottom: 63px;
  }
  #herofork h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herofork h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #herofork {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section PSV
--------------------------------------------------------------*/
#heropsv {
  width: 100%;
  height: 75vh;
  background: url('../img/PSV1.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#heropsv .container {
  position: relative;

}
#heropsv h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#heropsv h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#heropsv .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#heropsv .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #heropsv {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #heropsv {
    margin-bottom: 0;
    height: 100vh;
  }
  #heropsv .container {
    padding-bottom: 63px;
  }
  #heropsv h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #heropsv {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #heropsv {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section Pre-employement
--------------------------------------------------------------*/
#heroemp {
  width: 100%;
  height: 75vh;
  background: url('../img/PRE-EMPLOYMENT.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#heroemp .container {
  position: relative;
  
}
#heroemp h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#heroemp h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#heroemp .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#heroemp .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #heroemp {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #heroemp {
    margin-bottom: 0;
    height: 100vh;
  }
  #heroemp .container {
    padding-bottom: 63px;
  }
  #heroemp h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #heroemp h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #heroemp {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section Occupational health
--------------------------------------------------------------*/
#heroohm {
  width: 100%;
  height: 75vh;
  background: url('../img/2.jpeg') top center;
  background-size: cover;
  margin-bottom: 5px;
 
 
}
#heroohm .container {
  position: relative;
  
}
#heroohm h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#heroohm h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#heroohm .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#heroohm.btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #heroohm {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #heroohm {
    margin-bottom: 0;
    height: 100vh;
  }
  #heroohm .container {
    padding-bottom: 63px;
  }
  #heroohm h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #heroohm h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #heroohm {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Hero Section Driver Screening 
--------------------------------------------------------------*/
#herods {
  width: 100%;
  height: 78vh;
  background: url('../img/driver-screening.jpg') top center;
  background-size: cover;
  margin-bottom: 5px;
}
#herods .container {
  position: relative;
}
#herods h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
#herods h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#herods .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#herods.btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #herods {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #herods {
    margin-bottom: 0;
    height: 100vh;
  }
  #herods.container {
    padding-bottom: 63px;
  }
  #herods h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herods h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #herods {
    height: 80vh;
  }
}
/*--------------------------------------------------------------
# Appointment page
--------------------------------------------------------------*/
#appointmentpage {
  margin-top: 180px;
 
}
.appointmentpage .php-email-form {
  width: 100%;
}
.appointmentpage .php-email-form .form-group {
  padding-bottom: 8px;
}
.appointmentpage .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.appointmentpage .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #3291e6;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.appointmentpage .php-email-form .error-message br + br {
  margin-top: 25px;
}
.appointmentpage .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.appointmentpage .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.appointmentpage .php-email-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.appointmentpage .php-email-form input,
.appointment .php-email-form textarea,
.appointment .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px;
}
.appointmentpage .php-email-form input:focus,
.appointment .php-email-form textarea:focus,
.appointment .php-email-form select:focus {
  border-color: #3291e6;
}
.appointmentpage .php-email-form input,
.appointment .php-email-form select {
  height: 44px;
}
.appointmentpage .php-email-form textarea {
  padding: 10px 12px;
}
.appointmentpage .php-email-form button[type='submit'] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.appointmentpage .php-email-form button[type='submit']:hover {
  background: #1c84e3;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

.mlogo {
  height: 8rem;
  width: 12rem;
  margin-right: 30px;
}

@media (max-width: 1280px){
  .mlogo{
    height:8rem;
    width:8rem;
    margin-right: 10px;
  }
}

@media(max-width: 1024px){
 .mlogo{
  height: 8rem;
  width: 8rem;
  margin-right: 500px;
 }
}
@media (max-width: 920px){
  .mlogo{
    height: 8rem;
    width: 8rem;
    margin-right: 350px;
  }
}
 

@media(max-width: 768px){
.mlogo{
   height :8rem;
   width: 8rem;
   margin-right: 350px;
}
}


@media (max-width: 540px) {
  .mlogo {
    height: 8rem;
    width: 8rem;
    margin-right: 200px;
  }
}
@media (max-width: 440px) {
  .mlogo {
    height: 8rem;
    width: 8rem;
    margin-right: 100px;
  }
}
@media (max-width: 320px) {
  .mlogo {
    height: 6rem;
    width: 6rem;
    margin-right: 50px;
  }
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #3291e6;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3291e6;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}
#topbar.topbar-scrolled {
  top: -40px;
}
#topbar .contact-info a {
  line-height: 1;
  color: #444444;
  transition: 0.3s;
}
#topbar .contact-info a:hover {
  color: #1977cc;
}
#topbar .contact-info i {
  color: #fc8720;
  padding-right: 4px;
  margin-left: 15px;
  line-height: 0;
}
#topbar .contact-info i:first-child {
  margin-left: 0;
}
#topbar .social-links a {
  color: #437099;
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}
#topbar .social-links a:hover {
  color: #3291e6;
}
#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
#header.header-scrolled {
  top: 0;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
}
#header .logo a {
  color: #2c4964;
}
#header .logo img {
  max-height: 40px;
}

/**
* Appointment Button *
*/
.appointment-btn {
  margin-bottom: -20px;
  font-weight: 700;
  margin-left: 10px;
  background: #1977cc;
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.appointment-btn:hover {
  background: #3291e6;
  color: #fff;
}
@media(max-width: 1280px){
  .appointment-btn {
    margin-bottom: -20px;
    font-weight: 700;
    margin-left: 5px;
    background: #1977cc;
    color: #fff;
    border-radius: 20px;
    padding: 6px 10px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 13px;
    display: inline-block;
  }
}


@media (max-width: 768px) {
  .appointment-btn {
    
    margin: 0 15px -25px -10px;
    padding: 8px 10px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-bottom: -25px;
}
.navbar ul {
 
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar li {
  position: relative;
  margin-right: 5px;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #2c4964;
  font-weight: 700;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #014981;
  border-color: #014981;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #014981;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media(max-width: 1280px){
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #2c4964;
  font-weight: 700;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}
}



@media(max-width: 1200px){
  .navbar li {
    position: relative;
    margin-right: 1px;
  }
  }
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  margin-left: 20px;
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1024px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #1977cc;
  border: none;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #3291e6;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #fc8720;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: url('../img/front-page.jpg') top center;
  background-size: cover;
  margin-bottom: -200px;
}
#hero .container {
  position: relative;
}
#hero h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964;
}
#hero h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
#hero .btn-get-started:hover {
  background: #3291e6;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }
  #hero .container {
    padding-bottom: 63px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 800px) {
  #hero {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}
.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f7fd;
  min-height: 40px;
  margin-top: 120px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 100px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: '/';
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  margin-bottom: -150px;
}
.why-us .content {
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.why-us .content p {
  margin-bottom: 30px;
  color: white;
  font-weight: 400;
}
.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}
.why-us .content .more-btn i {
  font-size: 14px;
}
.why-us .content .more-btn:hover {
  color: #3291e6;
  background: #fff;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}
.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}
.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .icon-boxes h4 {
  font-size: 18px;
  color: #4b7dab;
  margin-bottom: 15px;
}
.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #2c4964;
  margin-bottom: 15px;
}
.about .icon-box {
  margin-top: 40px;
}
.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #8dc2f1;
  border-radius: 50px;
  transition: 0.5s;
}
.about .icon-box .icon i {
  color: #fc8720;
  font-size: 32px;
}
.about .icon-box:hover .icon {
  background: #fc8720;
  border-color: #fc8720;
}
.about .icon-box:hover .icon i {
  color: #fff;
}
.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}
.about .icon-box .title a:hover {
  color: #fc8720;
}
.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}
.about .video-box {
  background: url('../img/about.jpg') center center no-repeat;
  background-size: cover;
  min-height: 500px;
}
.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#fc8720 50%, rgba(25, 119, 204, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(25, 119, 204, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.about .play-btn:hover::after {
  border-left: 15px solid #fc8720;
  transform: scale(20);
}
.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #f1f7fd;
  padding: 70px 0 60px;
}
.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}
.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #1c84e3;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #082744;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #fc8720;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}
.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}
.services .icon-box .icon::before {
  position: absolute;
  content: '';
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #badaf7;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #2c4964;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box:hover {
  background: #fc8720;
  border-color: #fc8720;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #fc8720;
}
.services .icon-box:hover .icon::before {
  background: #3291e6;
}
.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/

.appointment .php-email-form {
  width: 100%;
}
.appointment .php-email-form .form-group {
  padding-bottom: 8px;
}
.appointment .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.appointment .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.appointment .php-email-form .error-message br + br {
  margin-top: 25px;
}
.appointment .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.appointment .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.appointment .php-email-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.appointment .php-email-form input,
.appointment .php-email-form textarea,
.appointment .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}
.appointment .php-email-form input:focus,
.appointment .php-email-form textarea:focus,
.appointment .php-email-form select:focus {
  border-color: #fc8720;
}
.appointment .php-email-form input,
.appointment .php-email-form select {
  height: 44px;
}
.appointment .php-email-form textarea {
  padding: 10px 12px;
}
.appointment .php-email-form button[type='submit'] {
  background: #fc8720;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.appointment .php-email-form button[type='submit']:hover {
  background: #1c84e3;
}

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.departments {
  overflow: hidden;
}
.departments .nav-tabs {
  border: 0;
}
.departments .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #2c4964;
  border-radius: 0;
  border-right: 2px solid #ebf1f6;
  font-weight: 600;
  font-size: 15px;
}
.departments .nav-link:hover {
  color: #fc8720;
}
.departments .nav-link.active {
  color: #fc8720;
  border-color: #fc8720;
}
.departments .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}
.departments .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c4964;
}
.departments .details p {
  color: #777777;
}
.departments .details p:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .departments .nav-link {
    border: 0;
    padding: 15px;
  }
  .departments .nav-link.active {
    color: #fff;
    background: #fc8720;
  }
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors {
  background: #fff;
}
.doctors .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
  padding: 30px;
  border-radius: 10px;
}
.doctors .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}
.doctors .member .pic img {
  transition: ease-in-out 0.3s;
}
.doctors .member:hover img {
  transform: scale(1.1);
}
.doctors .member .member-info {
  padding-left: 30px;
}
.doctors .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}
.doctors .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.doctors .member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}
.doctors .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.doctors .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #a0bcd5;
}
.doctors .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}
.doctors .member .social a:hover {
  background: #3291e6;
}
.doctors .member .social a + a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}
.faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq .faq-list li + li {
  margin-top: 15px;
}
.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}
.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #76b5ee;
}
.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #343a40;
}
.faq .faq-list a.collapsed:hover {
  color: #fc8720;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials{
  background-color: #f1f7fd;
}
.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
  position: relative;
  background: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #badaf7;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: gainsboro;
  opacity: 1;
 
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1977cc;
}
@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #fc8720;
  float: left;
  width: 44px;
  height: 44px;
  background: #d6e9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #fc8720;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type='submit'] {
  background: #fc8720;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type='submit']:hover {
  background: #1c84e3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f7fd;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  margin-top: 0;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: sans-serif;
  color: #777777;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
  margin-left: 50px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1c84e3;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #1977cc;
}

#footer .social-links {
  margin-left: 50px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1977cc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #1c84e3;
  color: #fff;
  text-decoration: none;
}
.flogo {
  margin-top: -40px;
  margin-bottom: 10px;
  width: 10rem;
  height: 8rem;
}
*--------------------------------------------------------------
  #SERVICES
  --------------------------------------------------------------*/
  body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.7;
}

p {
  color: #999999;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.media-29101 {
  text-align: center;
}
.media-29101 img {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 80px !important;
  margin: 0 auto 40px auto;
}
.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important;
  margin-bottom: 30px;
}
.media-29101 h3 a {
  color: #6c757d;
}

.owl-2-style .owl-nav {
  display: none;
}

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}
.owl-2-style .owl-dots .owl-dot {
  display: inline-block;
}
.owl-2-style .owl-dots .owl-dot span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
  border-radius: 50%;
}
.owl-2-style .owl-dots .owl-dot.active span {
  background: #1977cc;
}
.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
  outline: none;
}

.i {
  background-color: red;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.7;
}

p {
  color: #999999;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.media-29101 {
  text-align: center;
}
.media-29101 img {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 80px !important;
  margin: 0 auto 40px auto;
}
.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important;
  margin-bottom: 30px;
}
.media-29101 h3 a {
  color: #6c757d;
}

.owl-2-style .owl-nav {
  display: none;
}

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}
.owl-2-style .owl-dots .owl-dot {
  display: inline-block;
}
.owl-2-style .owl-dots .owl-dot span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
  border-radius: 50%;
}
.owl-2-style .owl-dots .owl-dot.active span {
  background: #1977cc;
}
.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
  outline: none;
}
.findmore-btn{
  
  font-weight: 700;
  margin-left: 10px;
  background: #1977cc;
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.findmore-btn:hover {
  background: #3291e6;
  color: #fff;
}
@media (max-width: 768px) {
  .findmore-btn {
    margin: 0 15px 0 -10px;
    padding: 8px 10px;
  }

}

.carousel-btn {
  margin: 10px;
}
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.testimonial3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.testimonial3 h1,
.testimonial3 h2,
.testimonial3 h3,
.testimonial3 h4,
.testimonial3 h5,
.testimonial3 h6 {
  color: #3e4555;
}

.testimonial3 .font-weight-medium {
  font-weight: 500;
}

.testimonial3 .bg-light {
  background-color: #f4f8fa !important;
}

.testimonial3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial3 .testi3 .card-body {
  padding: 40px;
}

.testimonial3 .testi3 h6 {
  line-height: 26px;
}

.testimonial3 .testi3 .thumb-img img {
  width: 60px;
}

.testimonial3 .testi3 .customer {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.testimonial3 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.testimonial3 .font-10 {
	font-size: 10px;
}

.testimonial3 .text-success {
    color: #2cdd9b !important;
}

.testimonial3 .text-muted {
    color: #8d97ad !important;
}

.testimonial3 .owl-theme .owl-dots .owl-dot.active span,
.testimonial3 .owl-theme .owl-dots .owl-dot:hover span {
  background: #316ce8;
}